@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary-light: #ffc288;
  --primary-main: #fea82f;
  --primary-dark: #e48334;
}

html {
  scroll-behavior: smooth;
}

#promotion {
  background: url('/assets/images/backgrounds/bg-promotion.png') no-repeat center center fixed;
  background: url('/assets/images/backgrounds/bg-promotion.webp') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
#article {
  background: url('/assets/images/backgrounds/bg-article.png') no-repeat center center fixed;
  background: url('/assets/images/backgrounds/bg-article.webp') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
#suggestion {
  background: url('/assets/images/backgrounds/bg-suggestion.png') no-repeat center center fixed;
  background: url('/assets/images/backgrounds/bg-suggestion.webp') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
#intro {
  background-image: url('/assets/images/backgrounds/bg-intro.png');
  background-image: url('/assets/images/backgrounds/bg-intro.webp');
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 100%;
}
#game {
  background-image: url('/assets/images/backgrounds/bg-game.png');
  background-image: url('/assets/images/backgrounds/bg-game.webp');
  background-size: cover;
  width: 100%;
  height: 100%;
}
#authen {
  background-image: url('/assets/images/backgrounds/bg-auth.png');
  background-image: url('/assets/images/backgrounds/bg-auth.webp');
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 100%;
}
#footer {
  background-image: url('/assets/images/backgrounds/bg-footer.png');
  background-image: url('/assets/images/backgrounds/bg-footer.webp');
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 100%;
}

@layer utilities {
  .silver-gradient-border {
    border-image: linear-gradient(90deg, rgba(139, 139, 139, 1) 0%, rgba(103, 103, 103, 1) 45%, rgba(255, 255, 255, 1) 100%) 1;
  }

  .silver-text-gradient {
    background: linear-gradient(180deg, #c8d6f3, #6b7386 14%, #c8d6f3 25%, #fff 51%, #c8d6f3 69%, #4e5a74 86%, #c8d6f3);
    background-clip: text;
    filter: drop-shadow(2px 2px #333);
    -webkit-text-fill-color: transparent;
  }

  .yellow-text-gradient {
    background: linear-gradient(90deg, rgba(255, 150, 0, 1) 0%, rgba(255, 222, 0, 1) 100%);
    background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  .register-btn {
    border: 0;
    border-radius: 56px;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    outline: 0;
    padding: 16px 21px;
    text-align: center;
    text-decoration: none;
    transition: all 0.3s;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
  }

  .register-btn:before {
    background-color: initial;
    background-image: linear-gradient(#fff 0, rgba(255, 255, 255, 0) 100%);
    border-radius: 125px;
    content: '';
    height: 50%;
    left: 4%;
    opacity: 0.5;
    position: absolute;
    top: 0;
    transition: all 0.3s;
    width: 92%;
  }
}
